<template name="editGroup">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>{{#if create}}New{{else}}Edit{{/if}} group</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}

      <label>Name</label>
      <input id="edit_group_name" type="text" class="group_name span5" value="{{group_name}}">

      <label>Description</label>
      <textarea id="edit_group_description" class="description span5">{{description}}</textarea>

      <label>Type</label>
      <select id="edit_group_type" class="group_type span3">
			 	{{#each group_type_options}}
					{{> editGroupTypeOption}}
				{{/each}}
      </select>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">{{#if create}}Create{{else}}Update{{/if}}</a>
    </div>
  </div>
</template>

<template name="editGroupTypeOption">
	<option value="{{option}}"{{#if selected}} selected="selected"{{/if}}>{{description}}</option>
</template>

