<template name="groups">
{{#if currentUser}}
  {{#unless selected_group}}
  <h4>Select or create a group.</h4>
  {{/unless}}
	<h5>
	Group: 
	<div class="btn-group">
		<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		 {{#if selected_group}}{{group.name}}{{else}}(please choose){{/if}}
		 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		 <li class="nav-header">My Groups</li>
		 {{#each groups}}
			 {{> group}}
		 {{/each}}
		 <li class="divider"></li>
		 <li><a href="#" class="creategroup">New group...</a></li>
		 <li class="divider"></li>
		 <li class="nav-header">Other Groups</li>
		 {{#each other_groups}}
			 {{> group}}
		 {{/each}}
		</ul>
	</div>
	</h5>

	<ul class="nav nav-list">
		{{#if selected_group}}
			{{#with group}}
				{{> group_detail}}
			{{/with}}
		{{/if}}
	</ul>
{{else}}
<h4>Create an account or log in to get started.</h4>
<p>Use the "Sign In / Up" menu in the upper right corner of the screen.</p>
{{/if}}
</template>

<template name="group">
  <li{{#if selected}} class="active"{{/if}}>
    <a href="#" class="group {{selected}}">{{name}}{{#if is_invited}} (invited){{/if}}</a>
  </li>
</template>

<template name="group_detail">
  <p>{{description}}</p>
  <li class="nav-header">Settings</li>
  <li>Type: {{type}}</li>
  {{#if is_member}}
  <li class="nav-header">Members</li>
    {{#each member_list}}
      {{> member_detail}}
    {{/each}}
  {{/if}}
  <li class="divider"></li>
  {{#if is_coordinator}}
  With group:
  <div class="btn-group">
   <input type="button" class="btn btn-small editgroup" value="Edit" />
   <input type="button" class="btn btn-small invitegroup" value="Invite" />
   <input type="button" class="btn btn-small removegroup" value="Remove" />
  </div>
  {{else}}
    {{#if is_member}}
    <input type="button" class="btn btn-small leavegroup" value="Leave this group" />
    {{/if}}
  {{/if}}
  {{#unless is_member}}
    {{#if is_requested}}
      <p>You have requested to join this group and are waiting for coodinator approval.</p>
    {{/if}}
    {{#if is_invited}}
      <p>You have been invited to join this group.</p>
      <input type="button" class="btn btn-small joingroup" value="Accept invitation" />
    {{/if}}
    {{#if is_rejected}}
      <p>You are not allowed to join this group.</p>
    {{/if}}
    {{#if has_left}}
      <p>You have been a member of this group.</p>
      <input type="button" class="btn btn-small joingroup" value="Rejoin this group" />
    {{/if}}
    {{#if can_join}}
			{{#if type_open}}
				<input type="button" class="btn btn-small joingroup" value="Join this group" />
			{{/if}}
			{{#if type_visible}}
			  <input type="button" class="btn btn-small joingroup" value="Ask to join this group" />
			{{/if}}
		{{/if}}
  {{/unless}}
</template>

<template name="member_detail">
  <li{{#if selected}} class="active"{{/if}}>
    <a href="#" class="{{selected}}">
			{{displayName}}
	    (${{balance}})
	    {{#unless active}}<i class="icon-ban-circle" title="Inactive member"></i>{{/unless}}
      {{#if coordinator}}<i class="icon-wrench" title="Group coordinator"></i>{{/if}}
      {{#if me}}<span class="label label-info">You</span>{{/if}}
    </a>
  </li>
</template>
