<template name="inviteGroup">
  <div class="modal" id="inviteGroup" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close cancel" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title">Invite a new member</h3>
        </div>

        <div class="modal-body">
          {{#if error}}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {{/if}}

          <div class="form-group">
            <label for="invite_group_name">Name</label>
            <input id="invite_group_name" type="text" class="form-control invite_name" value="{{invite_name}}">
          </div>

          <div class="form-group">
            <label for="invite_group_email">E-mail</label>
            <input id="invite_group_email" type="text" class="form-control invite_email" value="{{invite_email}}">
          </div>

          <div class="form-group">
            <label for="invite_group_msg">Personal message</label>
            <textarea id="invite_group_msg" class="form-control invite_msg">{{invite_msg}}</textarea>
          </div>
        </div>

        <div class="modal-footer">
          <a href="#" class="btn btn-default cancel">Cancel</a>
          <a href="#" class="btn btn-primary invite">Invite</a>
        </div>

      </div>
    </div>
  </div>
</template>
