<template name="editTransaction">
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>{{#if create}}New{{else}}Edit{{/if}} transaction</h3>
    </div>

    <div class="modal-body">
      {{#if error}}
        <div class="alert alert-error">{{error}}</div>
      {{/if}}

      <label>Date</label>
      <input type="text" id="transaction-date" class="transaction-date span5" 
             value="{{transaction_date}}">

      <label>Description</label>
      <input type="text" id="transaction-description" class="transaction-description span5" 
             value="{{transaction_description}}">

      <table class="table table-condensed">
				<thead>
				 <tr>
					<th>name</th>
					<th>debit (-)</th>
					<th>credit (+)</th>
				 </tr>
				</thead>
				<tbody>
				{{#each group_members}}
					{{> editTransactionMember}}
				{{/each}}
				 <tr class="{{total_ok}}">
					<td colspan="3" style="text-align: center;">
					Total: {{total}}
					</td>
				 </tr>
				</tbody>
      </table>
    </div>

    <div class="modal-footer">
      <a href="#" class="btn cancel">Cancel</a>
      <a href="#" class="btn btn-primary save">{{#if create}}Create{{else}}Update{{/if}}</a>
    </div>
  </div>
</template>

<template name="editTransactionMember">
   <tr>
    <td>{{displayName}}:</td>
    <td>
		 <div class="input-prepend">
			<span class="add-on">$</span>
			<input id="d_{{_id}}" type="text" style="color: red;" 
			       class="transaction-amount transaction-debit span1" value="{{debit}}" />
		 </div>
    </td>
    <td>
		 <div class="input-prepend">
			<span class="add-on">$</span>
			<input id="c_{{_id}}" type="text" 
			       class="transaction-amount transaction-credit span1" value="{{credit}}" />
		 </div>
    </td>
   </tr>
</template>

