<template name="editTransaction">
  <div class="modal" id="editTransaction" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close cancel" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
          <h3 class="modal-title">{{#if create}}New{{/if}}{{#if edit}}Edit{{/if}}{{#if copy}}Copy{{/if}} {{type_description}}</h3>
        </div>

        <div class="modal-body">
          {{#if error}}
          <div class="alert alert-danger" role="alert">{{error}}</div>
          {{/if}}

          <div class="form-group">
            <label for="transaction-date">Date</label>
            <input id="transaction-date" type="text" class="form-control transaction-date" value="{{transaction_date}}">
          </div>

          <div class="form-group">
            <label for="transaction-description">Description</label>
            <input id="transaction-description" type="text" class="form-control transaction-description" value="{{transaction_description}}">
          </div>

          {{#if charge}}
          <div class="form-group form-inline">
            <label for="transaction-debit">Charge: </label>
            <select id="transaction-debit" class="form-control transaction-debit">
              <option value="">(choose)</option>
              {{#each group_members}}
              {{> editTransactionMemberDebitOption}}
              {{/each}}
            </select>
            <div class="input-group col-sm-2">
              <span class="input-group-addon">$</span>
              <input id="transaction-total" type="text" style="color: red;"
                     class="form-control transaction-total col-sm-1" value="{{transaction_total}}" />
            </div>
            <label for="transaction-credit">and credit: </label>
            <select id="transaction-credit" class="form-control transaction-credit">
              <option value="">(choose)</option>
              {{#each group_members}}
              {{> editTransactionMemberCreditOption}}
              {{/each}}
            </select>
          </div>
          {{/if}}
          {{#if payment}}
          <div class="form-group form-inline">
            <label for="transaction-credit">Payment: </label>
            <select id="transaction-credit" class="form-control transaction-credit">
              <option value="">(choose)</option>
              {{#each group_members}}
              {{> editTransactionMemberCreditOption}}
              {{/each}}
            </select>
            <label for="transaction-debit"> paid </label>
            <select id="transaction-debit" class="form-control transaction-debit">
              <option value="">(choose)</option>
              {{#each group_members}}
              {{> editTransactionMemberDebitOption}}
              {{/each}}
            </select>
            <div class="input-group col-sm-2">
              <span class="input-group-addon">$</span>
              <input id="transaction-total" type="text" style="color: red;"
                     class="form-control transaction-total" value="{{transaction_total}}" />
            </div>
          </div>
          {{/if}}
          {{#if reimbursement}}
          <div class="form-group form-inline">
            <label for="transaction-credit">Reimburse:</label>
            <select id="transaction-credit" class="form-control transaction-credit">
              <option value="">(choose)</option>
              {{#each group_members}}
              {{> editTransactionMemberCreditOption}}
              {{/each}}
            </select>
            <div class="input-group col-sm-2">
              <span class="input-group-addon">$</span>
              <input id="transaction-total" type="text" style="color: red;"
              class="form-control transaction-total" value="{{transaction_total}}" />
            </div>
          </div>
          {{/if}}
          {{#unless charge}}
            {{#unless payment}}
            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>name</th>
                  <th>debit (-)</th>
                  <th>credit (+)</th>
                </tr>
              </thead>
              <tbody>
                {{#each group_members}}
                  {{#if reimbursement}}
                    {{> editTransactionMemberReimbursement}}
                  {{else}}
                    {{> editTransactionMember}}
                  {{/if}}
                {{/each}}
                <tr class="{{total_ok}}">
                  <td colspan="3" style="text-align: center;">
                    Total: {{total}}
                  </td>
                </tr>
              </tbody>
            </table>
            {{/unless}}
          {{/unless}}
        </div>

        <div class="modal-footer">
          <a href="#" class="btn btn-default cancel">Cancel</a>
          <a href="#" class="btn btn-primary save">{{#if create}}Create{{/if}}{{#if edit}}Update{{/if}}{{#if copy}}Copy{{/if}}</a>
        </div>

      </div>
    </div>
  </div>
</template>

<template name="editTransactionMember">
   <tr>
    <td>{{displayName}}:</td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input id="d_{{_id}}" type="text" style="color: red;"
               class="form-control transaction-amount transaction-debit-amount col-sm-1" value="{{debit}}" />
      </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input id="c_{{_id}}" type="text" style="color: red;"
               class="form-control transaction-amount transaction-credit-amount col-sm-1" value="{{credit}}" />
      </div>
    </td>
   </tr>
</template>

<template name="editTransactionMemberReimbursement">
   <tr>
    <td>
      <div class="form-group checkbox">
  			<label>
  				<input id="r_{{_id}}" class="transaction-reimburse" type="checkbox"
  							 checked={{reimburse_checkbox}} />
  				{{displayName}}:
  			</label>
      </div>
		</td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
			  <input id="d_{{_id}}" type="text" style="color: red;"
			         class="form-control transaction-amount transaction-debit-amount" value="{{debit}}" />
		  </div>
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
			  <input id="c_{{_id}}" type="text"
			         class="form-control transaction-amount transaction-credit-amount" value="{{credit}}" />
		  </div>
    </td>
   </tr>
</template>

<template name="editTransactionMemberDebitOption">
	<option value="{{_id}}" selected={{#if selected}}selected{{/if}}>{{displayName}}</option>
</template>

<template name="editTransactionMemberCreditOption">
	<option value="{{_id}}" selected={{#if selected}}selected{{/if}}>{{displayName}}</option>
</template>
